[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-binance = "==1.0.16"
backtesting = "==0.3.3"
ta = "==0.10.2"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
